body{
    background-color: hsl(218, 23%, 16%);
    
    
    
    
}

    
   
    
    .mobileImg{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center; 
        
        
        height: 300px;
        width: 500px;
        background-color:hsl(217, 19%, 24%);
        margin: auto;
        border-radius: 15px;
    
        
    }
    .advice{
       
        padding: 20px;
        color:  hsl(150, 100%, 66%);
        font-family: "Manrope",sans-serif;
        font-weight: 800;
        font-size: small;
    }
    
    .paragraph{
        color: hsl(193, 38%, 86%);
        font-size: 28px;
        text-align: center;
    }
    
    .dice{
    
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -20px auto ;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        background-color: hsl(150, 100%, 66%);
        cursor: pointer;
        
    }
    
    
    
    
    
    .dice:hover{
        background-color: hsl(150, 96%, 36%);
        border-radius: 30px;
        transition: 0.5s;
    }




@media (max-width: 500px) {

    
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        
        
        
        
        
        height: 250px;
        width: 80%;
        background-color:hsl(217, 19%, 24%);
        margin: auto;
        border-radius: 15px;
      
      
    }


    .desktopImg{
        display: none;
    }
    .mobileImg{
        display: flex;
        width: 80%;
    }



    .advice {
        font-size: smaller;

       
    }
    }

    .paragraph {
        font-size: 18px; 
    }

    .dice {
       
        width: 50px; 
        height: 50px;
        margin: -20 auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }


